#ti{
    display: block;
    margin: 100px auto;
    border-radius: 15px;
    border-width: 0.5px;
    padding: 8px;
    border-style: solid;
    border-color:slategrey;
    text-align: center;
    position: relative;
}
div{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
}
button.room{
    display: inline;
    margin: 20px auto;
    color:rgb(223, 205, 205);
    border-radius: 20px;
    border-width: 0;
    padding: 12px;
    background-color: green;
}