@font-face {
    font-family: 'Recoleta';
    src: url('/public/font/recoleta.ttf');
}

* {
    box-sizing: border-box;
    font-family: Nunito;
    font-size: 16px;
}


.logo {
    margin-left: 70px;
}

ul.main-nav-ul li a {
    text-decoration: none;
    font-size: 20px;
    color: #10283f;
    font-weight: 400;
    font-family: sans-serif;
    padding: 10px;
}

ul li {
    list-style-type: none;
    display: inline;
}

nav.main-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

div.ul-wrapper {
    text-align: center;
    display: inline;
}

div.ul-wrapper-sub {
    display: block;
    margin-right: 30px;
}

ul.main-nav-ul-sub {
    display: inline;
}

ul button {
    padding: 12px 10px;
    border-radius: 12px;
    border-width: 0;
    margin-left: 30px;
    margin-right: 30px;
    color: white;
    background-color: #004dfc;
    font-weight: 700;
    text-decoration: none;
}

@media only screen and (max-width: 700px) {
    ul {
        display: none;
    }
    
}