@font-face {
    font-family: 'Recoleta';
    src: url('/public/font/recoleta.ttf');
}

* {
    box-sizing: border-box;
    font-family: Nunito;
    font-size: 16px;
}

body {
    background-image: linear-gradient(#e2eaff, white, white);
    width: 100%;
    margin: 0;
    padding: 0;
}

.body-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    z-index: 3;
    display: none;
    position: fixed;
    overflow: auto;
    top: 0px;
    left: 0px;
}

.header-nav {
    width: 100%
}

main {
    padding: 0 70px;
}

main div {
    max-width: 40%;
}

main div div {
    max-width: 100%;
}

main div.div-left {
    float: left;
}

main div.div-right {
    float: right;
    margin-right: 100px;
    width: 30% !important;
    position: relative;
}

main div div h1 {
    font-family: 'Recoleta', sans-serif;
    font-size: 40px;
    color: #10283f;
    font-weight: 600;
}

main div div h3 {
    margin-bottom: 20px;
    padding-right: 0px;
    color: #5a6f95;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    font-family: sans-serif;
}

main div div button.new-meeting {
    padding: 15px 20px;
    border-radius: 5px;
    border-width: 0;
    color: white;
    background-color: #004dfc;
    font-weight: 700;
    text-decoration: none;
    font-family: Nunito;
    margin-right: 20px;
}

main div div button.join {
    padding: 15px 40px;
    border-radius: 5px;
    border-width: 0;
    color: white;
    background-color: green;
    font-weight: 700;
    text-decoration: none;
    font-family: Nunito;
}

hr {
    border-top: 0px;
    margin-top: 30px;
}

main div.div-right div.img img {
    transform: scale(.70);
    vertical-align: top !important;
    width: 100%;
    position: absolute;
    margin-top: -80px;
    image-rendering: -webkit-optimize-contrast;
}

div.illus-text div {
    margin-top: 0px;
    position: absolute;
}

div.illus-text h1 {
    font-size: 25px;
    font-family: 'Nunito';
    text-align: center;
    margin: 0;
}

div.illus-text h3 {
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    margin-bottom: 0px !important;
}

.illus1 {
    z-index: 2;
}

.illus2 {
    z-index: 1;
}

.illus-dots {
    text-align: center;
}

.dot1 {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: blue;
    display: inline-block;
    animation-name: DotFadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 7s;
    animation-direction: alternate;
}

.dot2 {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #dadce0;
    display: inline-block;
    animation-name: DotFadeOutIn;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 7s;
    animation-direction: alternate;
}

object.footer {
    width: 100%;
    margin-top: 50px;
    height: 20px;
}

.illus1, .text1 {
    animation-name: FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 7s;
    animation-direction: alternate;
}

.text2 {
    animation-name: FadeOutIn;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 7s;
    animation-direction: alternate;
}

button:focus, button:hover {
    filter: brightness(85%);
    cursor: pointer;
}

.new-meeting-modal {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%);
    background-color: white;
    z-index: 4;
    width: 50%;
    box-shadow: 3px 3px 5px 7px grey;
    border-radius: 12px;
    padding: 20px;
}

.qrcode-container {
    background-color: #10283f;
    border-radius: 20px;
    margin: 20px 30px;
    padding: 20px 20px;
    padding-bottom: 30px;
    width: fit-content;
    float: right;
}

.modal-content h1 {
    font-family: 'Nunito';
    font-size: 30px;
    line-height: 20px;
}

.modal-content h3 {
    font-size: 15px;
    line-height: 25px;
    margin-left: 5px;
}

.modal-content h4 {
    font-size: 13px;
    margin-left: 5px;
    font-family: 'Nunito';
    color: #10283f;
}

h4#copy-link {
    display: inline-block;
    transform: translateY(-7px);
    color: #174ea6;
    margin: 0;
}

.material-icons {
    color: #174ea6;
}

div.copy-link-container {
    width: fit-content;
    height: fit-content !important;
    padding: 7px 10px;
}

div.copy-link-container:hover, div.copy-link-container:focus {
    filter: brightness(90%);
    cursor: pointer;
    background-color: white;
}

/* button.new-meeting {

} */

@keyframes FadeInOut {
    0% {
        opacity: 1;
    }

    45% {
        opacity: 1;
    }

    55% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes FadeOutIn {
    0% {
        opacity: 0;
    }

    45% {
        opacity: 0;
    }

    55% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes DotFadeInOut {
    0% {
        background-color: blue;
    }

    45% {
        background-color: blue;
    }

    55% {
        background-color: #dadce0;
    }

    100% {
        background-color: #dadce0;
    }
}

@keyframes DotFadeOutIn {
    0% {
        background-color: #dadce0;
    }

    45% {
        background-color: #dadce0;
    }

    55% {
        background-color: blue;
    }

    100% {
        background-color: blue;
    }
}