<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pearl Chat | Your Best Minimalist Chat App</title>
    <link rel="stylesheet" href="/css/chat.css">
    <link
        href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
        rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    <main>
        <section id="nav-section" class="nav-section">
            <div class="logo"><img src="/img/logo.png" alt="" class="img-logo"></div>
            <div class="container-profile">
                <div class="div-profile">
                    <img class="profile-pic" src="../img/ninja_512.webp" alt="">
                    <h3 class="profile-name">Bill Bradford</h3>

                    <div class="div-switch">
                        <label class="switch">
                            <input id="input-slider" type="checkbox">
                            <span class="slider round"></span>
                        </label>
                        <span id="active-away" class="active-away">Away</span>
                    </div>

                </div>
            </div>

            <div class="div-active-conv">
                <div class="div-header">
                    <h4>Active Chats</h4>
                    <div class="div-conv-count">
                        <h5 id="msg-count">1</h5>
                    </div>
                    <span id="expand-icon" class="material-icons-outlined">
                        expand_more
                    </span>
                </div>
                <div id="msgs-list" class="div-msgs-list">
                    <div id="div-msg" class="div-msg">
                        <span id="msg-icon" class="message-icon">
                            <h4 id="msg-name-tag">JD</h4>
                        </span>
                        <h4 id="msg-name">John Doe</h4>
                    </div>
                </div>

            </div>


            <div id="div-settings" class="div-settings">
                <div>
                    <span class="material-icons">
                        account_circle
                    </span>
                    <h4>Profile</h4>
                </div>
                <div>
                    <span class="material-icons">
                        settings
                    </span>
                    <h4>Settings</h4>
                </div>
                <div>
                    <span class="material-icons">
                        logout
                    </span>
                    <h4>Log Out</h4>
                </div>
        </section>

        <section id="msg-section" class="msg-section">
            <div class="div-msg-section">
                <ul id="messages"></ul>
                <div class="receiver-msg msg-item">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque
                    temporibus ut ex venia.</div>
                <div class="div-form">
                    <form id="form" action="">
                        <input placeholder="Enter your message here" type="text" name="" id="input">
                        <div id="send">
                            <button>Send</button>
                            <span id="mio-send" class="material-icons-outlined">
                                send
                            </span>
                        </div>
                    </form>
                </div>


            </div>
        </section>

        <section class="user-section">
            <div class="div-user-section">
                <div class="div-prospect-details">
                    <div class="div-header">
                        <h4>Prospect Details</h4>
                        <span id="expand-prospect-details" class="material-icons-outlined">
                            expand_more
                        </span>
                    </div>
                    <div id="details-container">
                        <div class="div-prospect-icon">
                            <span id="prospect-icon" class="message-icon prospect-icon">
                                <h4 id="msg-name-tag" class="prospect-name-tag">LE</h4>
                            </span>
                        </div>
                        <div class="div-prospect-email div-details">
                            <span id="prospect-email" class="material-icons-outlined">
                                email
                            </span>
                            <h4 class="prospect-email">louisezeka@gmail.com</h4>
                        </div>
                        <div class="div-details">
                            <span id="prospect-account" class="material-icons-outlined">
                                account_circle
                            </span>
                            <h4>Louis Ezeka</h4>
                        </div>

                        <div class="div-archive">
                            <h4>Archive</h4>
                            <span id="prospect-account" class="material-icons-outlined">
                                archive
                            </span>
                        </div>

                    </div>
                </div>


                <div class="div-notes">
                    <div class="div-header">
                        <h4>Notes</h4>
                        <span id="expand-notes" class="material-icons-outlined">
                            expand_more
                        </span>
                    </div>
                    <div id="notes-container">
                        <div class="div-content">
                            <h4>Good client to be considered.</h4>
                        </div>

                        <div class="input">
                            <input placeholder="Enter your note" type="text" name="" id="">
                            <button class="submit" type="submit">Submit</button>
                        </div>

                    </div>
                </div>

                <div class="div-onboard">
                    <div class="div-header">
                        <h4>Onboard Clients</h4>
                        <span id="expand-onboard" class="material-icons-outlined">
                            expand_more
                        </span>
                    </div>
                    <div id="onboard-container">

                        <h4>Share the link with prospects and discuss all stuff</h4>
                        <div class="div-button">
                            <div>
                                <button class="copy-link">Copy Link</button>
                                <span class="material-icons-outlined link">
                                    link
                                </span>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </section>
    </main>

    <script>
        let socket = io('/chat');
        socket.emit('join_room', 1234);
        let inputSlider = document.getElementById('input-slider'),
            activeAway = document.getElementById('active-away'),
            expandIcon = document.getElementById('expand-icon'),
            msgsList = document.getElementById('msgs-list'),
            msg = document.getElementById('div-msg'),
            fragment = document.createDocumentFragment(),
            msgIcon = document.getElementById('msg-icon'),
            msgNameTag = document.getElementById('msg-name-tag'),
            msgName = document.getElementById('msg-name'),
            msgCount = document.getElementById('msg-count'),
            msgSection = document.getElementById('msg-section'),
            btnSend = document.getElementById('send'),
            input = document.getElementById('input'),
            form = document.getElementById('form'),
            messages = document.getElementById('messages'),
            senderMsg = document.getElementById('sender-msg'),
            expandProspect = document.getElementById('expand-prospect-details'),
            detailsContainer = document.getElementById('details-container'),
            expandNotes = document.getElementById('expand-notes'),
            notesContainer = document.getElementById('notes-container'),
            expandOnboard = document.getElementById('expand-onboard'),
            onboardContainer = document.getElementById('onboard-container');

        window.addEventListener('load', function () {
            let mColors = ['#fe95ca', '#deba31', '#998afe', '#649ef3'];
            let mNames = ['Henry Boyd', 'Martha Curtis', 'Chuks Nweze', 'Louis Ezeka'];
            let nameTag = ['HB', 'MC', 'CN', 'LE'];

            for (let i = 0; i < 4; i++) {
                let item = msg.cloneNode(true);
                msgIcon.style.backgroundColor = mColors[i]
                msgNameTag.textContent = nameTag[i];
                msgName.textContent = mNames[i];
                item.id = `${item.id}${i}`
                fragment.appendChild(item);
            }

            msgsList.appendChild(fragment);
            msgCount.textContent = msgsList.childElementCount;

        });


        inputSlider.addEventListener('change', function () {
            if (this.checked) {
                setTimeout(function () {
                    activeAway.innerHTML = 'Active';
                }, 400)
            }
            else {
                setTimeout(function () {
                    activeAway.innerHTML = 'Away';
                }, 400)

            }
        });

        expandIcon.onclick = function () {
            expandIcon.innerText = (expandIcon.innerText == 'expand_more') ? 'expand_less' : 'expand_more';
            msgsList.style.display = (expandIcon.innerText == 'expand_more') ? 'block' : 'none';
            if (expandIcon.innerText == 'expand_less') {
                document.getElementById('div-settings').style.position = 'absolute';
                document.getElementById('div-settings').style.bottom = 10 + 'px';
            }
            else { document.getElementById('div-settings').style.position = 'relative'; }
        }

        msgsList.addEventListener('click', function (ev) {
            if (ev.target.closest('DIV').className != 'div-msg') { return; }
            let closestDiv = ev.target.closest('DIV');
            document.querySelectorAll('.div-msg').forEach(element => element.style.backgroundColor = 'white')
            closestDiv.style.backgroundColor = '#dadce0';
        });

        form.addEventListener('submit', function (ev) {
            ev.preventDefault();
        });

        btnSend.onclick = function () {
            if (!input.value) { return; }
            let item = document.createElement('li');
            let divMsg = document.createElement('div');
            divMsg.className = 'sender-msg msg-item'
            divMsg.textContent = input.value
            item.appendChild(divMsg);
            messages.appendChild(item);
            window.scrollTo(0, document.body.scrollHeight);
            socket.emit('message', { room_number: 1234, message: input.value });
            input.value = '';
        }

        socket.on("message", message => {
            let item = document.createElement('li');
            let divMsg = document.createElement('div');
            divMsg.className = 'receiver-msg msg-item'
            divMsg.textContent = message;
            item.appendChild(divMsg);
            messages.appendChild(item);
            window.scrollTo(0, document.body.scrollHeight);
        });

        expandProspect.onclick = function () {
            expandProspect.innerText = (expandProspect.innerText == 'expand_more') ? 'expand_less' : 'expand_more';
            detailsContainer.style.display = (expandProspect.innerText == 'expand_more') ? 'block' : 'none';
        }

        expandNotes.onclick = function () {
            expandNotes.innerText = (expandNotes.innerText == 'expand_more') ? 'expand_less' : 'expand_more';
            notesContainer.style.display = (expandNotes.innerText == 'expand_more') ? 'block' : 'none';
        }

        expandOnboard.onclick = function () {
            expandOnboard.innerText = (expandOnboard.innerText == 'expand_more') ? 'expand_less' : 'expand_more';
            onboardContainer.style.display = (expandOnboard.innerText == 'expand_more') ? 'block' : 'none';
        }
    </script>
</body>

</html>