<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pearl Chat | Your Best Minimalist Chat App</title>
    <link rel="stylesheet" href="/css/chats.css">
    <link
        href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
        rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    <main>
        <section id="nav-section" class="nav-section">
            <div class="logo"><img src="/img/logo.png" alt="" class="img-logo"></div>
            <div class="container-profile">
                <div class="div-profile">
                    <img class="profile-pic" src="../img/ninja_512.webp" alt="">
                    <h3 class="profile-name">Bill Bradford</h3>

                    <div class="div-switch">
                        <label class="switch">
                            <input id="input-slider" type="checkbox">
                            <span class="slider round"></span>
                        </label>
                        <span id="active-away" class="active-away">Away</span>
                    </div>

                </div>
            </div>

            <div class="div-active-conv">
                <div class="div-header">
                    <h4>Active Chats</h4>
                    <div class="div-conv-count">
                        <h5 id="msg-count">1</h5>
                    </div>
                    <span id="expand-icon" class="material-icons-outlined">
                        expand_more
                    </span>
                </div>
                <div id="msgs-list" class="div-msgs-list">
                    <div id="div-msg" class="div-msg">
                        <span id="msg-icon" class="message-icon">
                            <h4 id="msg-name-tag">JD</h4>
                        </span>
                        <h4 id="msg-name">John Doe</h4>
                    </div>
                </div>

            </div>


            <div id="div-settings" class="div-settings">
                <div>
                    <span class="material-icons">
                        account_circle
                    </span>
                    <h4>Profile</h4>
                </div>
                <div>
                    <span class="material-icons">
                        settings
                    </span>
                    <h4>Settings</h4>
                </div>
                <div>
                    <span class="material-icons">
                        logout
                    </span>
                    <h4>Log Out</h4>
                </div>
        </section>

        <section id="msg-section" class="msg-section">
            <div id="div-msg-section" class="div-msg-section">
                <ul id="messages"></ul>
                <div class="div-form">
                    <form id="form" action="">
                        <input placeholder="Enter your message here" type="text" name="" id="input">
                        <div id="send">
                            <button>Send</button>
                            <span id="mio-send" class="material-icons-outlined">
                                send
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <section id="user-section" class="user-section">
            <div class="div-user-section">
                <div class="div-prospect-details">
                    <div class="div-header">
                        <h4>Prospect Details</h4>
                        <span id="expand-prospect-details" class="material-icons-outlined">
                            expand_more
                        </span>
                    </div>
                    <div id="details-container">
                        <div class="div-prospect-icon">
                            <span id="prospect-icon" class="message-icon prospect-icon">
                                <h4 id="msg-name-tag" class="prospect-name-tag">LE</h4>
                            </span>
                        </div>
                        <div class="div-prospect-email div-details">
                            <span id="prospect-email" class="material-icons-outlined">
                                email
                            </span>
                            <h4 class="prospect-email">louisezekan@gmail.com</h4>
                        </div>
                        <div class="div-details">
                            <span id="prospect-account" class="material-icons-outlined">
                                account_circle
                            </span>
                            <h4>Louis Ezeka</h4>
                        </div>

                        <div class="div-archive">
                            <h4>Archive</h4>
                            <span id="prospect-archive" class="material-icons-outlined">
                                archive
                            </span>
                        </div>

                    </div>
                </div>


                <div class="div-notes">
                    <div class="div-header">
                        <h4>Notes</h4>
                        <span id="expand-notes" class="material-icons-outlined">
                            expand_more
                        </span>
                    </div>
                    <div id="notes-container">
                        <div class="div-content">
                            <h4>Good client to be considered.</h4>
                        </div>

                        <div class="input">
                            <input placeholder="Note...." type="text" name="" id="">
                            <button class="submit" type="submit">Submit</button>
                        </div>

                    </div>
                </div>

                <div class="div-onboard">
                    <div class="div-header">
                        <h4>Onboard Clients</h4>
                        <span id="expand-onboard" class="material-icons-outlined">
                            expand_more
                        </span>
                    </div>
                    <div id="onboard-container">

                        <h4>Share the link with prospects and discuss all stuff</h4>
                        <div class="div-button">
                            <div>
                                <button class="copy-link">Copy Link</button>
                                <span class="material-icons-outlined link">
                                    link
                                </span>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </section>
    </main>

    <script src="/js/chats.js"></script>
</body>

</html>