<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pearl Chat | Your Best Minimalist Chat App</title>
    <link rel="stylesheet" href="/css/insta-chat.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Nunito" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <script src="/js/insta_chat/intro_button.js"></script>
    <script src="https://unpkg.com/uuid@latest/dist/umd/uuidv4.min.js"></script>
    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>

</head>

<body>
    <div class="body-overlay" id="body-overlay"></div>
    <%- include("../partials/header") %>

    <main>
        <!-- new meeting modal -->
        <div class="meeting-modal" id="new-meeting-modal">
            <div class="modal-content" id="modal-content">
                <div id="close" class="close">&times;</div>
                <div class="qrcode-container">
                    <div id="qrcode"></div>
                </div>

                <h1>Chat link ready</h1>
                <h3>Copy and share the chat link below to start OR Scan QR code</h3>

                <h4 id="chat-link"></h4>

                <div id="copy-link-container" class="copy-link-container">
                    <span id="icon-copy-all" class="material-icons">copy_all</span>
                    <h4 id="copy-link">Copy chat link</h4>
                </div>

                <div id="link-copied">
                    <h4>Link copied!</h4>
                </div>
            </div>
        </div>

        <!-- join meeting modal -->
        <div id="join-meeting-modal" class="meeting-modal">
            <div class="modal-content">
                <div id="join-close" class="close">&times;</div>
                <h1 class="enter-link">Enter chat link to start</h1>
                <div class="form">
                    <form action="">
                        <input type="url" placeholder="Enter chat link" name="chat_link" id="" required>
                        <button id="form-join">Join</a></li>
                    </form>
                </div>
            </div>
        </div>

        <div class="div-left">
            <div class="text">
                <h1>Premium chats. <br>Nothing to download.</h1>
                <h3>We bring to you InstaChat, start chatting right away securely with our state-of-the-art encryption
                    technology. No need to share personal information.</h3>
            </div>

            <div class="buttons">
                <button id="new-meeting" class="new-meeting">+ New Meeting</button>
                <button id="join-meeting" class="join">Join</button>
            </div>
            <hr>
        </div>


        <div class="div-right">
            <div class="img">
                <img class="illus1" src="/img/intro_illus1.svg" alt="">
                <img class="illus2" src="/img/intro_illus2.svg" alt="">
            </div>

            <div class="illus-text">
                <div class="text1">
                    <h1>Start chatting</h1>
                    <h3>Quickly get a link to start chatting without sharing personal info</h3>
                </div>

                <div class="text2">
                    <h1>Secure Communication</h1>
                    <h3>Chat with encryption. Chats expire at the end of each session.</h3>
                </div>
            </div>

            <div class="illus-dots">
                <div class="dot1"></div>
                <div class="dot2"></div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <%- include("../partials/footer") %>
    </footer>
    <script>
        let currentModal = "none";
        let bodyOverlay = document.getElementById("body-overlay");
        let newMeetingModal = document.getElementById('new-meeting-modal');
        let linkCopied = document.getElementById('link-copied');
        let joinMeetingModal = document.getElementById('join-meeting-modal');

        //snippet for cntrolling the start height and width of illustration dots
        window.addEventListener('load', function () {
            var div = document.querySelector('.div-right div.img');
            var dot = document.querySelector('.illus-dots');
            var div_text = document.querySelector('div.illus-text');

            var img_rect = document.querySelector('.div-right div img').getBoundingClientRect();
            var illus_text_rect = document.querySelector('div.illus-text .text1').getBoundingClientRect();

            div.style.height = img_rect.height + 'px';
            div.style.width = img_rect.width + 'px';

            div_text.style.height = illus_text_rect.height + 'px';
            div_text.style.width = illus_text_rect.width + 'px'
        });


        // <!-- snippet for new-meeting modal -->
        document.getElementById('new-meeting').onclick = function () {
            let uuid = uuidv4();
            new QRCode(document.getElementById("qrcode"), {
                text: uuid,
                width: 120,
                height: 120,
                colorDark: '#ffffff',
                colorLight: "#10283f",
                correctLevel: QRCode.CorrectLevel.H
            });
            bodyOverlay.style.display = "block";
            newMeetingModal.style.display = "block";
            document.getElementById('chat-link').innerText = `https://tiny.ul/${uuid.substring(0, 8)}`;
            currentModal = 'new-meeting'
        }

        document.getElementById('close').onclick = function () {
            newMeetingModal.style.display = "none";
            bodyOverlay.style.display = "none";
            document.querySelector('#qrcode > img').remove();
        }

        //snippet to close modals when a click is performed outside the scope of the modals
        window.onclick = function (event) {
            if (event.target == bodyOverlay) {
                switch (currentModal) {
                    case 'new-meeting':
                        newMeetingModal.style.display = "none";
                        bodyOverlay.style.display = "none";
                        document.querySelector('#qrcode > img').remove();
                        break;

                    case 'join-meeting':
                        joinMeetingModal.style.display = "none";
                        bodyOverlay.style.display = "none";
                        break;
                }
            }
        }

        document.getElementById('copy-link-container').onclick = function () {
            let text = document.getElementById('chat-link');
            navigator.clipboard.writeText(text.innerText);
            linkCopied.style.display = 'block';
            setTimeout(function () { linkCopied.style.display = 'none' }, 4000)
        }


        // <!-- snippet for join meeting modal -->
        document.getElementById('join-meeting').onclick = function () {
            joinMeetingModal.style.display = 'block';
            bodyOverlay.style.display = "block";
            currentModal = 'join-meeting';
        }

        document.getElementById('join-close').onclick = function () {
            joinMeetingModal.style.display = "none";
            bodyOverlay.style.display = "none";
        }

        document.getElementById('form-join').onclick = function () {
            window.location.href = '/chats';
        }
    </script>
</body>

</html>