<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pearl Chat | Your Best Minimalist Chat App</title>
    <link rel="stylesheet" href="/css/insta-chat.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Nunito" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <script src="/js/build/main.js"></script>
    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>

</head>

<body>
    <%- include("../partials/header") %>
    <div class="body-overlay" id="body-overlay"></div>

    <main>
        <!-- new meeting modal -->
        <div class="meeting-modal" id="new-meeting-modal">
            <div class="modal-content" id="modal-content">
                <div id="close" class="close">&times;</div>
                <div class="qrcode-container">
                    <div id="qrcode"></div>
                </div>
                <h1>Chat link ready</h1>
                <h3>Copy and share the chat link below to start OR Scan QR code</h3>

                <h4 id="chat-link"></h4>

                <div id="copy-link-container" class="copy-link-container">
                    <span id="icon-copy-all" class="material-icons">copy_all</span>
                    <h4 id="copy-link">Copy chat link</h4>
                </div>

                <div id="link-copied">
                    <h4>Link copied!</h4>
                </div>
            </div>
        </div>

        <!-- join meeting modal -->
        <div id="join-meeting-modal" class="meeting-modal">
            <div class="modal-content">
                <div id="join-close" class="close">&times;</div>
                <h1 class="enter-link">Enter chat link to start</h1>
                <div class="form">
                    <form action="">
                        <input type="url" placeholder="Enter chat link/code" name="chat_link" id="join-link" required>
                        <button id="form-join">Join</a></li>
                    </form>
                </div>
            </div>
        </div>

        <div class="div-left">
            <div class="text">
                <h1>Premium chats. <br>Nothing to download.</h1>
                <h3>We bring to you InstaChat, start chatting right away securely with our state-of-the-art encryption
                    technology. No need to share personal information.</h3>
            </div>

            <div class="buttons">
                <button id="new-meeting" class="new-meeting">+ New Meeting</button>
                <button id="join-meeting" class="join">Join</button>
            </div>
            <hr>
        </div>


        <div class="div-right">
            <div class="img">
                <img class="illus1" src="/img/intro_illus1.svg" alt="">
                <img class="illus2" src="/img/intro_illus2.svg" alt="">
            </div>

            <div class="illus-text">
                <div class="text1">
                    <h1>Start chatting</h1>
                    <h3>Quickly get a link to start chatting without sharing personal info</h3>
                </div>

                <div class="text2">
                    <h1>Secure Communication</h1>
                    <h3>Chat with encryption. Chats expire at the end of each session.</h3>
                </div>
            </div>

            <div class="illus-dots">
                <div class="dot1"></div>
                <div class="dot2"></div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <%- include("../partials/footer") %>
    </footer>
      <script>g</script>
    <script src="/js/insta-chat.js"></script>
</body>

</html>